@media screen and (min-width: 276px) and (max-width: 576px) {
  body {
    max-width: 576px;
    box-sizing: border-box;
  }
  .findme__contain {
    display: flex;
    justify-content: space-around;
    height: 50vh;
    align-items: center;
    /* padding: 1rem; */
  }

  .findme__contain h3 {
    font-family: "Abril Fatface", cursive;
    font-size: 2em;
    margin-top: 1rem;
  }
  .findme__contain p {
    font-size: 1.4em;
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 100px;
    margin-top: 1rem;
  }
  .findme__block {
    background: #3ae374;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60%;
    padding: 0.5rem;
  }
  .btn__malt {
    width: 100%;
  }
  .btn__malt button {
    width: 80%;
    height: 60px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  body {
    max-width: 768px;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    max-width: 992px;
    box-sizing: border-box;
  }
  .findme__contain {
    display: flex;
    justify-content: space-around;
    height: 50vh;
    align-items: center;
  }

  .findme__contain h3 {
    font-family: "Abril Fatface", cursive;
    font-size: 2.4em;
  }
  .findme__contain p {
    font-size: 1.3em;
    font-family: "Lato", sans-serif;
    width: 600px;
    height: 100px;
  }
  .findme__block {
    background: #3ae374;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 60%;
  }
  .btn__malt button {
    width: 150px;
    height: 60px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1880px) {
  body {
    max-width: 1880px;
    box-sizing: border-box;
  }
  .findme__contain {
    display: flex;
    justify-content: space-around;
    height: 50vh;
    align-items: center;
  }

  .findme__contain h3 {
    font-family: "Abril Fatface", cursive;
    font-size: 2.4em;
  }
  .findme__contain p {
    font-size: 1.3em;
    font-family: "Lato", sans-serif;
    width: 600px;
    height: 100px;
  }
  .findme__block {
    background: #3ae374;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 60%;
  }
  .btn__malt button {
    width: 150px;
    height: 60px;
    margin-bottom: 30px;
  }
}
